</div><!--/conteudo -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 style="margin-left: 18px;">Organização:</h4>
            </div>
            <div class="col-xs-12" style="margin-bottom: 60px;">
                <img src="{{paths.theme}}assets/img/logos/logo-vertical.png" class="img-responsive" style="height: 80px;margin-left: 18px;"/>
            </div>

            <div class="col-xs-12">
                <h4 style="margin-left: 18px;">Apoios e Patrocínios:</h4>
            </div>
            <div class="col-xs-12" style="margin-bottom: 20px;">        
                <img src="{{paths.theme}}assets/img/logos/cnpq.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/capes.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/cfc.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/parana.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/araucaria.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/fbc.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/ufpr.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/uem.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/fucape.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/fecap.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/unisinos.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/abracicon.jpg" class="img-responsive img-logo" />
                <img src="{{paths.theme}}assets/img/logos/atlas.jpg" class="img-responsive img-logo" />
            </div>
        </div>
    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ paths.theme }}assets/js/bootstrap.min.js"></script>
<script src="{{ paths.theme }}assets/js/main.js"></script>
</body>
</html>