<!DOCTYPE html>
<html lang="en">
    {% setcontent config = 'config/1' %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>
            {% if record.titulo is defined %}{{ record.titulo|striptags }} | {% endif %}
            {{ app.config.get('general/sitename') }}
            {% if record.titulo is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif %}
        </title>

        <!-- Bootstrap -->
        <link href="{{paths.theme}}assets/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{paths.theme}}assets/css/main.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <div class="container">
                
                <div class="row bg-topo" style="background-image:url({{image(config.bg_topo)}});">
                    <div class="col-sm-5 col-xs-12 logo">
                        <a href="{{paths.rooturl}}">
                            <img src="{{image(config.logo)}}" class="img-responsive center-block" />
                        </a>
                    </div>
                    <div class="col-sm-5 col-sm-push-2 hidden-xs">
                        <div class="desc-logo">
                            <img src="{{image(config.logo_texto)}}" class="img-responsive center-block" />
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="conteudo">